[submodule "subs/openrocket"]
	path = subs/openrocket
	url = https://github.com/openrocket/openrocket.git
[submodule "subs/rocketpy"]
	path = subs/rocketpy
	url = https://github.com/RocketPy-Team/RocketPy.git
[submodule "subs/campyros"]
	path = subs/campyros
	url = https://github.com/cuspaceflight/CamPyRoS.git
[submodule "subs/camrocsim"]
	path = subs/camrocsim
	url = https://git.code.sf.net/p/camrocsim/code
[submodule "subs/mapleaf"]
	path = subs/mapleaf
	url = https://github.com/henrystoldt/MAPLEAF.git
